{
    auto_https off
}

:8080

handle /auth/* {
    reverse_proxy auth-service:3000 {
        header_up Host "course-sphere-api.akagiyuu.dev"
    }
}

handle {
    reverse_proxy general-service:3000
}
