services:
  database:
    image: postgres:latest
    container_name: course-sphere-database
    restart: always
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_DB: ${PG_DB}
    volumes:
      - database:/var/lib/postgresql/data
    networks:
      - network

  cloudbeaver:
    image: dbeaver/cloudbeaver:latest
    container_name: course-sphere-cloudbeaver
    restart: always
    volumes:
      - cloudbeaver:/opt/cloudbeaver/workspace
    networks:
      - network

  auth-service:
    image: ${REGISTRY}/auth-service:latest
    container_name: course-sphere-auth
    restart: always
    depends_on:
      - database
    environment:
      DATABASE_URL: postgres://${PG_USER}:${PG_PASS}@database/${PG_DB}
      CORS_ORIGIN: ${CORS_ORIGIN}
    networks:
      - network

networks:
  network:
    name: course-sphere-network
    external: true

volumes:
  database:
    name: course-sphere-database
    external: true
  cloudbeaver:
    name: course-sphere-cloudbeaver
    external: true
