services:
  database:
    image: postgres:latest
    container_name: course-sphere-database
    restart: on-failure:5
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_DB: ${PG_DB}
    volumes:
      - database:/var/lib/postgresql
    networks:
      - network

  cloudbeaver:
    image: dbeaver/cloudbeaver:latest
    container_name: course-sphere-cloudbeaver
    restart: on-failure:5
    volumes:
      - cloudbeaver:/opt/cloudbeaver/workspace
    networks:
      - network

  account-service:
    image: ${REGISTRY}/account-service:latest
    container_name: course-sphere-account
    restart: on-failure:5
    depends_on:
      - database
    environment:
      DATABASE_URL: postgres://${PG_USER}:${PG_PASS}@database/${PG_DB}
      CORS_ORIGIN: ${CORS_ORIGIN}
      BETTER_AUTH_BASE_URL: ${BETTER_AUTH_BASE_URL}  

      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID} 
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET} 
      MICROSOFT_CLIENT_ID: ${MICROSOFT_CLIENT_ID} 
      MICROSOFT_CLIENT_SECRET: ${MICROSOFT_CLIENT_SECRET} 
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID} 
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET} 
    networks:
      - network

  general-service:
    image: ${REGISTRY}/general-service:latest
    container_name: course-sphere-general
    restart: on-failure:5
    depends_on:
      - database
    environment:
      CORS_ORIGIN: ${CORS_ORIGIN}
      PROXY_URL: http://caddy:8080
      DATABASE_URL: postgres://${PG_USER}:${PG_PASS}@database/${PG_DB}
    networks:
      - network

  caddy:
    image: caddy:latest
    container_name: course-sphere-caddy
    restart: on-failure:5
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    networks:
      - network


networks:
  network:
    name: course-sphere-network
    external: true

volumes:
  database:
    name: course-sphere-database
    external: true
  cloudbeaver:
    name: course-sphere-cloudbeaver
    external: true
